*{
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background: white;
    font-size: 25px;
}
#js-timer{
    text-align: center;
}
#timer{
    background: #fff;
    color: #000;
    width: 100px;
    margin: 50px auto;
}
#bday{
    margin-top: 50px;
    width: 300px;
    height: 90%;
        
}
.bday{
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: none;
}
#text{
    margin: 20px;
    width: 500px;
    height: 100%;
    font-size: 100px;
    background: linear-gradient(-45deg, #ed1c94, #ffec17);
    -webkit-background-clip : text;
    -webkit-text-fill-color: transparent;
}
.button{
    margin: 20px;
    width: 400px;
    height: 100%;
    font-size: 40px;
    border:2px solid white;
    background: linear-gradient(-45deg, #292125, #1726ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.messge{
    margin: 5px;
        width: 100%;
        height: 100%;
        font-size: 40px;
        border: 2px solid white;
        background: linear-gradient(-45deg, #da05da, #2317ff);
        font-family: 'Pacifico', cursive;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: none;
}
.video{
    align-items: center;
    justify-content: center;
    display: none;
}
